
a {
  font-weight: 500;
  color: white
   }

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.nav-style{
  list-style: none;
   display: flex;
  padding: 0px;

}
header {
  display: flex;
  

  background: white;
   color: black;
    font-size: 1.4rem;
}

header {
  display: flex;
  justify-content: flex-start; /* push content to left */
  align-items: flex-start;     /* align to top */
  padding: 10px;
}

.logo {
  width: 40px;   /* controls image size */
  height: auto;
}
.formstyling{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
ul.ingredients-list {
    margin-bottom: 48px;
}

ul.ingredients-list > li {
    color: #475467;
    line-height: 28px;
}
